.p{
    background-color: gray;
    font-size:90px;
    font-family: cursive;
    text-align: center;
    padding-top: 144px;

}
.d{
    font-size: 34px;
    font-family: cursive;
    text-align: center;
    padding-top: 144px;
    padding-bottom: 5px;


}
.o{

    font-size: 30px;
    font-family: cursive;
    text-align: center;
    padding-top: 144px;
}